body {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

.google #google_logo {
  text-align: center;
  display: block;
  margin: 0 auto;
  clear: both;
  padding-top: 112px;
  padding-bottom: 20px;
}

.form {
	text-align: center;
}

#form-search {
	width: 450px;
	line-height: 32px;
}

#form-search:hover {
	border-color: #e4e4e4;
  padding-top: 0;
}

.buttons {
	display: block;
  margin: 0 auto;
  text-align: center;
}

.buttons  #google_search{
  font-size: 12px;
  font-weight: bold;
  color: #757575;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  border-radius: 3px;
  padding: 0 20px 0 20px;
  margin: 25px 2px;
  height: 35px;
}

.buttons:hover {
  color: #000;
  border: 2px solid #ddd;
}

.buttons:focus {
  outline: 1px solid #00b6f1;
}

footer  {
  background: #f2f2f2;
  border-top: solid 2px #e4e4e4;
  position: fixed;
  bottom: 0;
  padding-bottom: 0;
  width: 100%;
}

footer ul li {
	display: inline;
}

footer ul {
	margin-left: 30px;
}

.footer-right {
	float: right;
}

